.roll_in_down {
   -webkit-animation-name: roll_in_down;
   animation-name: roll_in_down;
}

.roll_in_down-enter-done {
   display: block !important;
}

.roll_in_down-enter-active {
   display: block !important;
   -webkit-animation: roll_in_down 500ms infinite;
   animation: roll_in_down 500ms infinite;
}

.roll_in_down-exit-active {
   display: block !important;
   -webkit-animation: roll_out_down 500ms infinite;
   animation: roll_out_down 500ms infinite;
}

.roll_in_down-exit-done {
   display: none !important;
}

@-webkit-keyframes roll_in_down {
   from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100vh, 0) rotate3d(0, 0, 1, -360deg);
      transform: translate3d(0, -100vh, 0) rotate3d(0, 0, 1, -360deg);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes roll_in_down {
   from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100vh, 0) rotate3d(0, 0, 1, -360deg);
      transform: translate3d(0, -100vh, 0) rotate3d(0, 0, 1, -360deg);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

.roll_out_down {
   -webkit-animation-name: roll_out_down;
   animation-name: roll_out_down;
}

@-webkit-keyframes roll_out_down {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100vw, 0) rotate3d(0, 0, 1, 360deg);
      transform: translate3d(0, 100vw, 0) rotate3d(0, 0, 1, 360deg);
   }
}

@keyframes roll_out_down {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100vw, 0) rotate3d(0, 0, 1, 360deg);
      transform: translate3d(0, 100vw, 0) rotate3d(0, 0, 1, 360deg);
   }
}