.roll_in_left {
   -webkit-animation-name: roll_in_left;
   animation-name: roll_in_left;
}

.roll_in_left-enter-done {
   display: block !important;
}

.roll_in_left-enter-active {
   display: block !important;
   -webkit-animation: roll_in_left 500ms infinite;
   animation: roll_in_left 500ms infinite;
}

.roll_in_left-exit-active {
   display: block !important;
   -webkit-animation: roll_out_left 500ms infinite;
   animation: roll_out_left 500ms infinite;
}

.roll_in_left-exit-done {
   display: none !important;
}

@-webkit-keyframes roll_in_left {
   from {
      opacity: 0;
      -webkit-transform: translate3d(-100vw, 0, 0) rotate3d(0, 0, 1, -360deg);
      transform: translate3d(-100vw, 0, 0) rotate3d(0, 0, 1, -360deg);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes roll_in_left {
   from {
      opacity: 0;
      -webkit-transform: translate3d(-100vw, 0, 0) rotate3d(0, 0, 1, -360deg);
      transform: translate3d(-100vw, 0, 0) rotate3d(0, 0, 1, -360deg);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

.roll_out_left {
   -webkit-animation-name: roll_out_left;
   animation-name: roll_out_left;
}

@-webkit-keyframes roll_out_left {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(100vw, 0, 0) rotate3d(0, 0, 1, 360deg);
      transform: translate3d(100vw, 0, 0) rotate3d(0, 0, 1, 360deg);
   }
}

@keyframes roll_out_left {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(100vw, 0, 0) rotate3d(0, 0, 1, 360deg);
      transform: translate3d(100vw, 0, 0) rotate3d(0, 0, 1, 360deg);
   }
}