.slide_in_up {
   -webkit-animation-name: slide_in_up;
   animation-name: slide_in_up;
}

.slide_in_up-enter-done {
   display: block !important;
}

.slide_in_up-enter-active {
   display: block !important;
   -webkit-animation: slide_in_up 500ms infinite;
   animation: slide_in_up 500ms infinite;
}

.slide_in_up-exit-active {
   display: block !important;
   -webkit-animation: slide_out_up 500ms infinite;
   animation: slide_out_up 500ms infinite;
}

.slide_in_up-exit-done {
   display: none !important;
}


@-webkit-keyframes slide_in_up {
   from {
      -webkit-transform: translate3d(0, 100vh, 0);
      transform: translate3d(0, 100vh, 0);
      visibility: visible;
   }

   to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes slide_in_up {
   from {
      -webkit-transform: translate3d(0, 100vh, 0);
      transform: translate3d(0, 100vh, 0);
      visibility: visible;
   }

   to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

.slide_out_up {
   -webkit-animation-name: slide_out_up;
   animation-name: slide_out_up;
}

@-webkit-keyframes slide_out_up {
   from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

   to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100vh, 0);
      transform: translate3d(0, -100vh, 0);
   }
}

@keyframes slide_out_up {
   from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

   to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100vh, 0);
      transform: translate3d(0, -100vh, 0);
   }
}