@import './bounce/index.scss';
@import './fade/index.scss';
@import './flip/index.scss';
@import './others/index.scss';
@import './rotate/index.scss';
@import './slide/index.scss';
@import './zoom/index.scss';
@import './wave/index.scss';
@import './roll/index.scss';

$overlay-bg: rgb(0, 0, 0, 0.5);
$body-bg: white;
$body-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

$modal-z-index: 99999999;
$overlay-z-index: 99999999;
$body-z-index: 999999999;

.animated-modal {
   position: fixed;
   top: 0px;
   right: 0px;
   left: 0px;
   bottom: 0px;
   z-index: $modal-z-index;

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent !important;

   // Overlay Styles
   .modal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $modal-z-index;
      background-color: $overlay-bg;
   }

   .animation-modal-overlay-enter-done {
      opacity: 0.1;
   }

   .animation-modal-overlay-enter-active {
      display: block !important;
      opacity: 0.9;
      transition: all 500ms infinite;
   }

   .animation-modal-overlay-enter-done {
      opacity: 0.9;
   }

   .animation-modal-overlay-exit {
      opacity: 0.9;
   }

   .animation-modal-overlay-exit-active {
      display: block !important;
      opacity: 0.1;
      transition: all 500ms infinite;
   }

   .animation-modal-overlay-exit-done {
      opacity: 0;
   }

   // Body Styles
   .modal-body {
      position: relative;
      display: none;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0.5rem;
      z-index: $body-z-index;
      background-color: $body-bg;
      padding: 16px;
      box-shadow: $body-box-shadow;
      pointer-events: auto;
      max-height: calc(100vh - 64px);
      overflow-y: auto;
      flex-direction: column;

      .icon-wrapper {
         position: absolute;
         width: 25px;
         top: 10px;
         right: 10px;
         cursor: pointer;
      }

      .icon-wrapper:hover {
         width: 27px;
         top: 9px;
         right: 9px;
      }
   }

   .modal-body.sm {
      min-width: 300px;
      max-width: 300px;
   }

   .modal-body.md {
      min-width: 550px;
      max-width: 550px;
   }

   .modal-body.lg {
      min-width: 800px;
      max-width: 800px;
   }

   .modal-body.xl {
      min-width: 1140px;
      max-width: 1140px;
   }

   .modal-body.fullScreen {
      margin: 0px !important;
      border-radius: 0px;
      width: 100% !important;
      height: 100vh !important;
      overflow-y: scroll;
      padding: 0px 20px;

      .fullScreenWrapper {
         padding: 20px 0px;
      }
   }
}

@media screen and (max-width: 1172px) {
   .modal-body.xl {
      min-width: calc(100% - 32px) !important;
      max-width: calc(100% - 32px) !important;
   }
}

@media screen and (max-width: 832px) {

   .modal-body.lg,
   .modal-body.xl {
      min-width: calc(100% - 32px) !important;
      max-width: calc(100% - 32px) !important;
   }
}

@media screen and (max-width: 575.98px) {

   .modal-body.sm,
   .modal-body.md,
   .modal-body.lg,
   .modal-body.xl {
      min-width: calc(100% - 32px) !important;
      max-width: calc(100% - 32px) !important;
   }
}